{% extends 'base.html' %} {% block scripts %}
<script>
  $(function () {
    $("a.fav-queue-link").click(function (e) {
      e.preventDefault();
      setUserCookie();
      var user = Cookies.get("user");
      $.get(this.href + encodeURIComponent(user), function (data) {
        var obj = JSON.parse(data);
        if (obj.success[0]) {
          showNotification(obj.success[1], "is-success");
        } else {
          showNotification(obj.success[1], "is-danger");
        }
      });
    });

    $(document).on("click", ".unfav-btn", function (e) {
      e.preventDefault();
      var btn = $(this);
      var filePath = decodeURIComponent(btn.data("song"));
      fetch("/api/favorites", {
        method: "DELETE",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ file_path: filePath }),
      }).then(function (r) {
        if (r.ok) {
          btn.closest("tr").fadeOut(300, function () { $(this).remove(); });
        }
      });
    });
  });
</script>
{% endblock %} {% block header %}
<h1>{% block title %}{% trans %}My Favorites{% endtrans %}{% endblock %}</h1>
{% endblock %} {% block content %}

{% if not user %}
<p class="has-text-centered">
  {# MSG: Message shown on favorites page when no user is identified. #}
  {% trans %}Select a user to see your favorites.{% endtrans %}
</p>
{% else %}
<p class="mb-3">
  <strong>{{ user.username }}</strong>
  {% if favorites %}
  &mdash; {{ favorites|length }} {% trans %}song(s){% endtrans %}
  {% endif %}
</p>

{% if favorites %}
<table style="width:100%">
  {% for song in favorites %}
  {% set display_name = filename_from_path(song) %}
  <tr>
    <td style="padding: 5px 0">{{ loop.index }}</td>
    <td style="padding-right: 0">
      <a
        class="fav-queue-link has-text-weight-bold has-text-success"
        title="Add '{{ display_name }}' to queue"
        href="{{ url_for('queue.enqueue') }}?song={{ url_escape(song.encode('utf-8', 'surrogateescape')) }}&user="
      ><i class="icon icon-list-add"></i></a>
    </td>
    <td style="word-break: break-word">{{ display_name }}</td>
    <td style="padding-left: 8px">
      <a
        class="unfav-btn has-text-warning"
        data-song="{{ url_escape(song.encode('utf-8', 'surrogateescape')) }}"
        href="#"
        title="Remove from favorites"
      >&#9733;</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p class="has-text-centered has-text-grey">
  {# MSG: Empty state shown when user has no favorites yet. #}
  {% trans %}No favorites yet &mdash; star songs on the Browse page to add them here.{% endtrans %}
</p>
{% endif %}
{% endif %}

{% endblock %}
